// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fieldddd {
  position: absolute;
  width: 329px;
  height: 140px;
  top: 1120px;
  left: 48px;
  font-family: Rothek;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}
.form22 {
  padding: 1px 15px;
  padding-top: 1px;
  position: absolute;
  width: 250px;
  height: 38px;
  left: 48px;
  top: 1155px;
  background: #FFFFFF;
  border-radius: 9px;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
}
.field2 {
  position: absolute;
  width: 329px;
  height: 140px;
  top: 1245px;
  left: 48px;
  font-family: Rothek;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}
.form33 {
  padding: 1px 15px;
  padding-top: 10px;
  position: absolute;
  width: 450px;
  height: 138px;
  left: 48px;
  top: 1280px;
  background: #FFFFFF;
  border-radius: 9px;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
}
.actions2{
  position: absolute;
width: 200px;
height: 50px;
left: 430px;
top: 1480px;
border: none;
color: black;
border-radius: 9px;
border: none;
background-color: #45F7E1;
font-family: Rothek;
font-size: 18px;
}
.ffield {
  position: absolute;
  width: 329px;
  height: 140px;
  top: 1700px;
  left: 48px;
  font-family: Rothek;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #45F7E1;
}
.ffield2 {
  position: absolute;
  width: 329px;
  height: 140px;
  top: 1800px;
  left: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}
.deletecom{
  position: absolute;
  width: 329px;
  height: 140px;
  top: 1740px;
  left: 548px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #45F7E1;
}
.back2 {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 48px;
  top: 1850px;
  color: #45F7E1;
  font-family: Rothek;
  font-size: 18px;
}
.show2 {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 118px;
  top: 1850px;
  color: #45F7E1;
  font-family: Rothek;
  font-size: 18px;
}
