// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.placeholder {
  padding: 1px 15px;
  position: absolute;
width: 411px;
height: 52px;
left: 48px;
top: 445vw;
background: #FFFFFF;
border-radius: 9px;
border: none;
font-family: Rothek;
    font-size: 18px;

}
.button {
  position: absolute;
  width: 164px;
  height: 54px;
  left: 505px;
  top: 445vw;
  border: none;
  font-family: Rothek;
      font-size: 18px;
color: white;
  background: #000000;
  border-radius: 9px;
}
